.card-01 {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .card-img-top {
    height: 200px !important;
  }

  .card-01 {
    height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.card-img-top {
  height: 170px !important;
}

.card-title {
  height: 37px;
  overflow: hidden;
  font-size: 15px;
  text-overflow: ellipsis;
  text-decoration: none !important;
}

.card-text {
  flex-grow: 1;
  height: 45px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}